{# <div id="header">
  {{ page.header }}
</div>
<div id="content">
  {{ page.content }}
</div>
<div id="footer">
  {{ page.footer }}
</div> #}

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

	</head>
	<body>
		<header class="header">
			{{ page.header }}
		</div>
		<nav class="menu">
			{{ page.menu }}
		</nav>
	</body>
</html></header><main class="main">
<div class="content">
	{{ page.content }}
	{{ first_module_variable }}
</div>
{% if page.sidebar %}
	<div class="sidebar"></div>
{% endif %}
{% if page.breadcrumb %}
	<div class="breadcrumb"></div>
{% endif %}</main><footer class="footer">
{{ page.footer }}</footer></body></html>
